
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a href="/" class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-cpu"></i>
                    </div>
                    <span class="b-title">Guarani SAT-1</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Navigation</label>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                        class="nav-item {% if 'index' in segment %} active {% endif %}">
                        <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>Data</label>
                    </li>
                    {% url 'collector' as collector_url %}
                    <li data-username="Disabled Menu" class="nav-item {% if request.get_full_path == collector_url %} active {% endif %}">
                        <a href="{{ collector_url }}" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">Raw Data</span>
                        </a>
                    </li>
                    {% url 'activations' as activations_url %}
                    <li data-username="Disabled Menu" class="nav-item {% if request.get_full_path == activations_url %} active {% endif %}">
                        <a href="{{ activations_url }}" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">Parsed Data</span>
                        </a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>Actions</label>
                    </li>
                    <li data-username="Disabled Menu" class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
