{% load i18n %} 
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a href="/" class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-cpu"></i>
                    </div>
                    <span class="b-title">Guarani SAT-1</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>{% translate "Navigation" %}</label>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                        class="nav-item {% if 'index' in segment %} active {% endif %}">
                        <a href="{% url 'home' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">{% translate "Dashboard" %}</span></a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>{% translate "Detectors" %}</label>
                    </li>
                    {% url 'collector' as collector_url %}
                    <li data-username="Disabled Menu" class="nav-item {% if request.get_full_path == collector_url %} active {% endif %}">
                        <a href="{{ collector_url }}" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">{% translate "Raw Data" %}</span>
                        </a>
                    </li>
                    {% url 'activations' as activations_url %}
                    <li data-username="Disabled Menu" class="nav-item {% if request.get_full_path == activations_url %} active {% endif %}">
                        <a href="{{ activations_url }}" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">{% translate "Parsed Data" %}</span>
                        </a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>{% translate "Satellite Frame" %}</label>
                    </li>
                    {% url 'frames' as frames_url %}
                    <li data-username="Disabled Menu" class="nav-item {% if request.get_full_path == frames_url %} active {% endif %}">
                        <a href="{{ frames_url }}" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">{% translate "Data" %}</span>
                        </a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>{% translate "Sensors" %}</label>
                    </li>
                    {% url 'sensors' as sensors_url %}
                    <li data-username="Disabled Menu" class="nav-item {% if request.get_full_path == sensors_url %} active {% endif %}">
                        <a href="{{ sensors_url }}" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">{% translate "Data" %}</span>
                        </a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>{% translate "Actions" %}</label>
                    </li>
                    {% if user.is_authenticated %}

                        {% if user.is_staff %}
                            <li data-username="Disabled Menu" class="nav-item">
                                <a href="{% url 'admin:index' %}" class="nav-link">
                                    <span class="pcoded-micon"><i class="feather icon-settings"></i></span><span class="pcoded-mtext">{% translate "Admin" %}</span>
                                </a>
                            </li>
                        {% endif %}
                        
                        <li data-username="Disabled Menu" class="nav-item">
                            <a href="{% url 'logout' %}" class="nav-link">
                                <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">{% translate "Logout" %}</span>
                            </a>
                        </li>
                    {% else %}
                        <li data-username="Disabled Menu" class="nav-item">
                            <a href="{% url 'login' %}" class="nav-link">
                                <span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">{% translate "Login" %}</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
