{% load i18n %} 
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Guarani-sat - {% block title %}{% endblock %}
    </title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    <meta name="description" content="Guarani-sat dashboard." />
    <meta name="keywords" content="paraguay, guarani, satellite, dashboard, kissing bug, satelite, vinchuca, mal de chagas"/>
    <meta name="author" content="nemesiscodex"/>

    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome/css/fontawesome-all.min.css' %}">
    <!-- animation css -->
    <link rel="stylesheet" href="{% static 'assets/plugins/animation/css/animate.min.css' %}">

    <!-- preload other css -->
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" as="style">
    <link rel="preload" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" as="style">
    <link rel="preload" href="{% static 'assets/fonts/feather/css/feather.min.css' %}" as="style">
    <link rel="preload" href="{% static 'assets/fonts/fontawesome/webfonts/fa-solid-900.woff2' %}" as="font" crossorigin="anonymous">
    <link rel="preload" href="{% static 'assets/plugins/jquery-scrollbar/css/jquery.scrollbar.min.css' %}" as="style">
    <link rel="preload" href="{% static 'assets/fonts/datta/datta-icon.css' %}" as="style">

    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}">

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}

</head>

<body>
    
    {% block content %}{% endblock content %}

    {% include 'includes/scripts.html' %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}    

</body>
</html>

