{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/plugins/leaflet/leaflet.min.css">
{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                        <!--[ daily sales section ] start-->
                        <div class="row">
                            <div class="col-md-4 col-xl-4">
                                <div class="card">
                                    <div class="card-block border-bottom">
                                        <div class="row d-flex align-items-center">
                                            <div class="col-auto">
                                                <i class="fa fa-bug f-30 text-c-red"></i>
                                            </div>
                                            <div class="col">
                                                <h3 class="f-w-300">{{ detected_today }}</h3>
                                                <span class="d-block text-uppercase">TOTAL DETECTED TODAY</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xl-4">
                                <div class="card">
                                    <div class="card-block border-bottom">
                                        <div class="row d-flex align-items-center">
                                            <div class="col-auto">
                                                <i class="fa fa-bug f-30 text-c-red"></i>
                                            </div>
                                            <div class="col">
                                                <h3 class="f-w-300">{{ detected_this_week }}</h3>
                                                <span class="d-block text-uppercase">TOTAL DETECTED THIS WEEK</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xl-4">
                                <div class="card">
                                    <div class="card-block border-bottom">
                                        <div class="row d-flex align-items-center">
                                            <div class="col-auto">
                                                <i class="fa fa-bug f-30 text-c-red"></i>
                                            </div>
                                            <div class="col">
                                                <h3 class="f-w-300">{{ detected_this_month }}</h3>
                                                <span class="d-block text-uppercase">TOTAL DETECTED THIS MONTH</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xl-12">
                                <div class="card">
                                    <div class="card-block border-bottom">
                                        {% include 'charts/calendar.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xl-12">
                                <div class="card">
                                    <div class="card-block border-bottom">
                                        {% include 'charts/heatmap.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="/static/assets/plugins/moment/moment.min.js"></script>
<script src="/static/assets/plugins/leaflet/leaflet.min.js"></script>
<script src="/static/assets/plugins/echarts/echarts-en.min.js"></script>
<script src="/static/assets/plugins/echarts/echarts-theme.min.js"></script>
<script src="/static/assets/plugins/echarts/echarts-leaflet.min.js"></script>
{% endblock javascripts %}
